<div [formGroup]="form" >
    <label [attr.for]="element.key">{{element.label}}</label>

    <div [ngSwitch]="element.controlType" class="fields-container">

        <mat-form-field *ngSwitchCase="'textbox'" appearance="fill" class="example-full-width">
            <input matInput  [formControlName]="element.key" [id]="element.key"
             [type]="element.type">
          </mat-form-field>



      <mat-form-field *ngSwitchCase="'dropdown'">
          <mat-select [id]="element.key" [formControlName]="element.key">
            <mat-option *ngFor="let opt of element.options" [value]="opt.key">
                {{opt.value}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <div *ngSwitchCase="'checkbox'">
            <mat-checkbox class="example-margin">Checked</mat-checkbox>
        </div>

    </div>

    <div class="errorMessage" *ngIf="!isValid">{{element.label}} is required</div>
  </div>


