<div [formGroup]="form" >
    <label [attr.for]="element.key">{{element.label}}</label>

    <div [ngSwitch]="element.controlType" class="fields-container">

        <mat-form-field *ngSwitchCase="'textbox'" appearance="fill" class="example-full-width">
            <input matInput placeholder="Favorite food" [formControlName]="element.key" [id]="element.key"
             [type]="element.type">
          </mat-form-field>

      <select [id]="element.key" *ngSwitchCase="'dropdown'" [formControlName]="element.key">
        <option *ngFor="let opt of element.options" [value]="opt.key">{{opt.value}}</option>
      </select>

    </div>

    <div class="errorMessage" *ngIf="!isValid">{{element.label}} is required</div>
  </div>


